section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  .resume-item {
    .resume-content {}
    .resume-date {
      min-width: none;
    }
  }
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.form-error{
  font-size: 14px;
  color: $red;
}

nav{
  img.img-profile{
    width: 136px;
    height: auto;
    border: none !important;
  }

  .dropdown-menu{
    background-color: transparent;
    border: none;
    border-radius: 0;
    position: static !important;

    .dropdown-item{
      color: rgba(255,255,255,0.5);
    
      &:hover{
        background-color: rgba(255,255,255,0.5);
        color: $white;
      }
    }
  }
}

#sideNav{
  .navbar-nav{
    .nav-item{
      text-align: left !important;
    }
  }
}
