.addMatch{
  &__form{
    .chosen-container{
      display: block;
      font-size: 1rem;
      
      .chosen-single{
        box-shadow: none;
        border: none;
        background: transparent;
        padding: 0;
      }  
    }
    
  }
}

.myMatches{
  &__item{
    border: 1px solid $black;
    border-radius: 4px;
    
    &__date{
      border-right: 1px solid $black;
      background-color: $gray-300;
      position: relative;
      padding: 2rem;
      text-align: center;

      h4{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &__result{
      padding: 0 0.5rem;
      &__line{
        padding: 0.5rem 0;

        .guildIcon{
          width: 2rem;
          margin: 1rem;
        }
        h4{
          text-align: center;
        }
      }
    }
  }
}